<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="webjars/bootstrap/4.1.3/css/bootstrap.min.css"  rel="stylesheet" type="text/css">
    <link href="webjars/font-awesome/5.12.0/css/all.css" th:href="@{/webjars/font-awesome/5.12.0/css/all.css}" rel="stylesheet" TYPE="text/css">
    <title>Connexion</title>
</head>
<body>
<div class="container">
    <div style="width:60%;margin-left: auto;margin-right: auto;margin-top:5%;padding: 1%;">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-user"></i> Please Login
            </div>
            <div class="card-block" style="padding: 3%;">
                <form name="f" th:action="@{/login}" method="post">
                    <fieldset>
                        <!-- Thymeleaf + Spring Security error display -->
                        <div th:if="${param.error}" class="alert alert-danger">
                            Invalid name or Password
                        </div>

                        <div th:if="${param.logout}" class="alert alert-success">
                            You have been disconnected.
                        </div>

                        <!-- Login Controls -->
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name" name="name"
                                   placeholder="name"/>
                        </div>

                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" name="password"
                                   placeholder="password">
                        </div>


                        <!-- Login Button -->
                        <div class="form-actions" style="margin-top: 3%;">
                            <button type="submit" class="btn btn-success">Login</button>
                        </div>
                    </fieldset>
                </form>
                <a th:href="@{/register}">Create a profile</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>